# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# Logs
*.log
push_error.txt

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel

# Project Specific
last_check.txt
NLM_COOKIE_BASE64.txt
temp_auth.json
temp_cookies.json
